<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kofigyan.soronkostepperview">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.GeneralAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ColoringStepperActivity"/>

        <activity android:name=".activity.StepperTwoBasicActivity"/>

        <activity android:name=".activity.StepperFourCheckActivity"
                  android:screenOrientation="landscape" android:theme="@style/AppFullScreenTheme"/>

        <activity android:name=".activity.DescriptionFourStepperActivity"/>

        <activity android:name=".activity.ChangeStepperSizeActivity"/>

        <activity android:name=".activity.RealWorldUsageActivity"/>

        <activity android:name=".activity.MainActivity" android:screenOrientation="landscape" android:theme="@style/AppFullScreenTheme"/>


    </application>

</manifest>